*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

/*---Navbar---*/
#navbar{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
}
li{
    padding: 5px;
    color: black;
}
.nav-link{
    border: 2px solid transparent;
}
.nav-link:hover{
    border-bottom: 2px solid green;
    transition: .1s;
    color: blue;
}




